name: resume

replicaCount:
  flask: 2
  nginx: 2

image:
  flask:
    repository: "luciancibu/flask-counter"
    tag: "2.0"
    pullPolicy: IfNotPresent
  nginx:
    repository: "luciancibu/nginx-resume"
    tag: "2.0"
    pullPolicy: IfNotPresent
  mariadb:
    repository: mariadb
    tag: "10.11"

resources:
  flask:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi
  nginx:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 128Mi

autoscaling:
  flask:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80
  nginx:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80

mariadb:
  rootPassword: rootpass  # base64: cm9vdHBhc3M=
  database: cv
  user: cvuser
  password: cvpass  # base64: Y3ZwYXNz
  storage: 3Gi
  storageClassName: gp2

ingress:
  enabled: true
  className: nginx
  host: resume.kakosnita.xyz

service:
  type: ClusterIP
  nginx:
    port: 80
  flask:
    port: 5000
  mariadb:
    port: 3306