apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}-configmap
data:
  DB_HOST: {{ .Values.name }}-mariadb
  DB_PORT: "{{ .Values.service.mariadb.port }}"
  DB_NAME: {{ .Values.mariadb.database }}
  DB_USER: {{ .Values.mariadb.user }}
  init.sql: |
    CREATE TABLE IF NOT EXISTS counter (
      id INT PRIMARY KEY,
      views INT
    );

    INSERT IGNORE INTO counter (id, views)
    VALUES (1, 0);